$cBg-Yellow: #f9ffcc;
$cBg-Green: #e2e6cf;
$cCharGreen: #95997a;
$cCharBlack: #323329;
$cFramePink: white;
// #e6cfe2;
$cWhite: #fff;

* {
  color: $cCharBlack;
}

header {
  width: 100%;
  background-color: $cBg-Yellow;
  padding: 10px;

  & .logo-text {
    color: $cCharGreen;
    font-size: 50px;
    font-family: "Climate Crisis", cursive;
  }
}

nav {
  background-color: $cWhite;
  display: flex;
  border-top: $cCharGreen solid 5px;
  border-bottom: $cCharGreen solid 5px;

  & .nav-item {
    margin: 10px 15px;
    color: $cCharGreen;
    font-size: 15px;
    font-family: "Climate Crisis", cursive;
  }
}

main {
  width: 100%;
  background-color: $cBg-Green;
  padding: 0 20px;
}

.section-text {
  color: $cCharGreen;
  padding-top: 30px;
  font-size: 30px;
  font-family: "Climate Crisis", cursive;
}

.tag-array {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  & .tag-item {
    padding: 5px;
    margin-right: 15px;
    background-color: $cCharGreen;
    color: $cWhite;
    border-radius: 5px;
  }
}

.blog-array {
  display: flex;

  & .blog-item {
    width: 400px;
    height: 200px;
    padding: 30px;
    margin-right: 20px;
    background-color: $cWhite;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    & > .decoration {
      height: 500px;
      width: 30px;
      display: inline-block;
      background-color: $cFramePink;
      opacity: 50%;

      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(10deg) translate(0, -50px);
        transform-origin: top center;
      }

      &:nth-child(2) {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(-10deg) translate(0, 50px);
        transform-origin: bottom center;
      }

      &:nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(-10deg) translate(0, -50px);
        transform-origin: top center;
      }

      &:nth-child(4) {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(10deg) translate(0, 50px);
        transform-origin: bottom center;
      }

      &:nth-child(5) {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-95deg) translate(-5px, -30px);
        transform-origin: top center;
      }
      &:nth-child(6) {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(95deg) translate(-5px, 30px);
        transform-origin: bottom center;
      }

      &:nth-child(7) {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(95deg) translate(5px, -30px);
        transform-origin: top center;
      }
      &:nth-child(8) {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(-95deg) translate(5px, 30px);
        transform-origin: bottom center;
      }
    }

    & .blog-title {
      margin-top: 20px;
      display: inline-block;
      text-align: left;
      font-size: 25px;
    }

    & .blog-tag-array {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;

      & .blog-tag-item {
        padding: 5px;
        margin-right: 15px;
        background-color: $cCharGreen;
        color: $cWhite;
        border-radius: 5px;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: $cBg-Yellow;
  padding: 10px;
  text-align: center;
}
