* {
  color: #323329;
}

header {
  width: 100%;
  background-color: #f9ffcc;
  padding: 10px;
}

.logo-text {
  color: #95997a;
  font-size: 50px;
  font-family: 'Climate Crisis', cursive;
}

nav {
  background-color: #fff;
  display: flex;
  border-top: #95997a solid 5px;
  border-bottom: #95997a solid 5px;
}

.nav-item {
  margin: 10px 15px;
  color: #95997a;
  font-size: 15px;
  font-family: 'Climate Crisis', cursive;
}

main {
  width: 100%;
  background-color: #e2e6cf;
  padding: 50px 30px;
}

.section-text {
  color: #95997a;
  font-size: 30px;
  font-family: 'Climate Crisis', cursive;
}

.tag-array {
  padding: 10px;
}

.tag-array,
.blog-tag-array {
  padding-top: 30px;
  display: flex;
}

.tag-item,
.blog-tag-item {
  padding: 5px;
  margin-right: 15px;
  background-color: #95997a;
  color: #fff;
  border-radius: 5px;
}

.blog-array {
  padding: 30px 0;
  display: flex;
}

.blog-item {
  width: 400px;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.blog-title {
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  font-size: 25px;
}


footer {
  width: 100%;
  background-color: #f9ffcc;
  padding: 10px;
  text-align: center;
}
